################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EncryptedFileDecorator-teste/obj/Debug/net8.0/EncryptedFileDecorator.AssemblyInfo.cs
/EncryptedFileDecorator-teste/obj/Debug/net8.0/EncryptedFileDecorator.AssemblyInfoInputs.cache
/EncryptedFileDecorator-teste/obj/Debug/net8.0/EncryptedFileDecorator.assets.cache
/EncryptedFileDecorator-teste/obj/Debug/net8.0/EncryptedFileDecorator.GeneratedMSBuildEditorConfig.editorconfig
/EncryptedFileDecorator-teste/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EncryptedFileDecorator-teste/obj/Release/net8.0/EncryptedFileDecorator.AssemblyInfo.cs
/EncryptedFileDecorator-teste/obj/Release/net8.0/EncryptedFileDecorator.AssemblyInfoInputs.cache
/EncryptedFileDecorator-teste/obj/Release/net8.0/EncryptedFileDecorator.assets.cache
/EncryptedFileDecorator-teste/obj/Release/net8.0/EncryptedFileDecorator.GeneratedMSBuildEditorConfig.editorconfig
/EncryptedFileDecorator-teste/obj/Release/net8.0/EncryptedFileDecorator.GlobalUsings.g.cs
/TaskManagerComposite/obj/Debug/net8.0/EncryptedFileDecorator.AssemblyInfo.cs
/TaskManagerComposite/obj/Debug/net8.0/EncryptedFileDecorator.AssemblyInfoInputs.cache
/TaskManagerComposite/obj/Debug/net8.0/EncryptedFileDecorator.assets.cache
/TaskManagerComposite/obj/Debug/net8.0/EncryptedFileDecorator.GeneratedMSBuildEditorConfig.editorconfig
/TaskManagerComposite/obj/Debug/net8.0/TaskManager.AssemblyInfo.cs
/TaskManagerComposite/obj/Debug/net8.0/TaskManager.AssemblyInfoInputs.cache
/TaskManagerComposite/obj/Debug/net8.0/TaskManager.assets.cache
/TaskManagerComposite/obj/Debug/net8.0/TaskManager.GeneratedMSBuildEditorConfig.editorconfig
/TaskManagerComposite/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/TaskManagerComposite/obj/Release/net8.0/EncryptedFileDecorator.AssemblyInfo.cs
/TaskManagerComposite/obj/Release/net8.0/EncryptedFileDecorator.AssemblyInfoInputs.cache
/TaskManagerComposite/obj/Release/net8.0/EncryptedFileDecorator.assets.cache
/TaskManagerComposite/obj/Release/net8.0/EncryptedFileDecorator.GeneratedMSBuildEditorConfig.editorconfig
/TaskManagerComposite/obj/Release/net8.0/EncryptedFileDecorator.GlobalUsings.g.cs
/TaskManagerComposite/obj/Release/net8.0/TaskManager.AssemblyInfo.cs
/TaskManagerComposite/obj/Release/net8.0/TaskManager.AssemblyInfoInputs.cache
/TaskManagerComposite/obj/Release/net8.0/TaskManager.assets.cache
/TaskManagerComposite/obj/Release/net8.0/TaskManager.GeneratedMSBuildEditorConfig.editorconfig
/TaskManagerComposite/obj/Release/net8.0/TaskManager.GlobalUsings.g.cs
/EncryptedFileDecorator/bin/Debug/net8.0
/EncryptedFileDecorator/obj/Debug/net8.0
/EncryptedFileDecorator/obj/Release/net8.0
/EncryptedFileDecorator/obj
/BridgeDemo/obj
/BridgeDemo/bin/Debug/net8.0
/BridgeDemo/.vs
